---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present

- name: Check current timezone
  ansible.builtin.command: timedatectl show -p Timezone --value
  register: current_timezone
  changed_when: false

- name: Set timezone
  ansible.builtin.command: timedatectl set-timezone {{ common_timezone }}
  when: current_timezone.stdout != common_timezone
