apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:{{ monitoring_prometheus_port }}
    isDefault: false
    jsonData:
      timeInterval: {{ monitoring_prometheus_scrape_interval }}
    version: 1
    editable: true
