---
- name: Provision web servers
  hosts: webservers
  become: yes
  roles:
    - common
    - docker

- name: Deploy application
  hosts: webservers
  become: yes
  vars_files:
    - ../group_vars/all.yml
  roles:
    - app_deploy
