services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_container_port }}"
{% if app_environment | length > 0 %}
    environment:
{% for key, value in app_environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    restart: {{ app_restart_policy }}
